* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  
  :root {
    --secondary-color: #151226;
    --contrast-color:#EC7505;
  }
  #container {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    animation: expand .8s ease forwards;
    background-color: var(--secondary-color);
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all .8s ease;
  }

.login {
    overflow: hidden;
    background-color: rgb(255, 166, 0);
    padding: 80px 50px 50px 50px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left:  50%;
    width: 550px;
    height: 400px;
    transform: translate(-50%, -50%);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  }
  
  .login > input {
    font-family: "Asap", sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }
  .login > button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 70%;
    border: 0;
    padding: 10px 0;
    margin-top: 8%;
    margin-left: 15%;
    border-radius: 5px;
    background-color: #151226;
    transition: background-color 300ms;
  }
  .login > button:hover {
    background-color: #151226;
  }
  .login::before, .login::after {
    content: '';
    position: absolute;
    width: 800px;
    height: 900px;
    border-top-left-radius: 60%;
    border-top-right-radius: 75%;
    border-bottom-left-radius: 55%;
    border-bottom-right-radius: 60%;
    z-index: -1;
  }
  .login::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba(247, 114, 6, 0.15);
    animation: wawes 6s infinite linear;
  }
  .login::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba(248, 23, 23, 0.2);
    animation: wawes 7s infinite;
  }
  @keyframes wawes {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  img{
    width: 150px;
   margin-left: 180px;
  }

  section{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
  }
  
  h1{
    font-weight: 400;
    font-size: 2em;
    cursor: default;
    margin: 0 0 .5em 0;
  }
  
  input[type='checkbox']{ height: 0; width: 0; }
  
  input[type='checkbox'] + label{
    position: relative;
    display: flex;
    margin: .6em 0;
    align-items: center;
    color: #000000;
    transition: color 250ms cubic-bezier(.4,.0,.23,1);
  }
  input[type='checkbox'] + label > ins{
    position: absolute;
    display: block;
    bottom: 0;
    left: 2em;
    height: 0;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    transition: height 300ms cubic-bezier(.4,.0,.23,1);
  }
  input[type='checkbox'] + label > ins > i{
    position: absolute;
    bottom: 0;
    font-style: normal;
    color: #151226;
  }
  input[type='checkbox'] + label > span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    width: 1em;
    height: 1em;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
    cursor: pointer;  
    transition: all 250ms cubic-bezier(.4,.0,.23,1);
  }
  
  input[type='checkbox'] + label:hover, input[type='checkbox']:focus + label{
    color: #fff;
  }
  input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span{
    background: rgba(0, 0, 0, 0.1);
  }
  input[type='checkbox']:checked + label > ins{ height: 100%; }
  
  input[type='checkbox']:checked + label > span{
    border: .5em solid rgb(255, 255, 255);
    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
  }
  input[type='checkbox']:checked + label > span:before{
    content: "";
    position: absolute;
    top: .6em;
    left: .2em;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
  }
  
  @keyframes shrink-bounce{
    0%{
      transform: scale(1);
    }
    33%{    
      transform: scale(.85);
    }
    100%{
      transform: scale(1);    
    }
  }
  @keyframes checkbox-check{
    0%{
      width: 0;
      height: 0;
      border-color: #151226;
      transform: translate3d(0,0,0) rotate(45deg);
    }
    33%{
      width: .2em;
      height: 0;
      transform: translate3d(0,0,0) rotate(45deg);
    }
    100%{    
      width: .2em;
      height: .5em;    
      border-color: #151226;
      transform: translate3d(0,-.5em,0) rotate(45deg);
    }
  }

  .lista{
    display: inline;
    margin: 20px;
    color: #151226;
    font-size: 18px;
  }

 
   
 